<section>
    <tr>
        <th>
            <i>{{localize "cogent.skillBlock.attributes"}}</i>
        </th>
        <th colspan="1">&nbsp;</th>
    </tr>
    <tr>
        <th class="cogent-aroll rollable" title="Roll Strength Check" data-value="{{data.attributes.str.value}}" data-skill="cogent.attributes.str">{{localize "cogent.capattributes.str"}}:</th>
        <td colspan="3">
            <input type="number" name="data.attributes.str.value" value="{{data.attributes.str.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <th class="cogent-aroll rollable" title="Roll Reflex Check" data-value="{{data.attributes.ref.value}}" data-skill="cogent.attributes.ref">{{localize "cogent.capattributes.ref"}}:</th>
        <td colspan="3">
            <input type="number" name="data.attributes.ref.value" value="{{data.attributes.ref.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <th class="cogent-aroll rollable" title="Roll Intelligence Check" data-value="{{data.attributes.int.value}}" data-skill="cogent.attributes.int">{{localize "cogent.capattributes.int"}}:</th>
        <td colspan="3">
            <input type="number" name="data.attributes.int.value" value="{{data.attributes.int.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <th class="cogent-aroll rollable" title="Roll Character Check" data-value="{{data.attributes.cha.value}}" data-skill="cogent.attributes.cha">{{localize "extCogent.capattributes.cha"}}:</th>
        <td colspan="3">
            <input type="number" name="data.attributes.cha.value" value="{{data.attributes.cha.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td><b>{{localize "cogent.skillBlock.skills"}}</b></td>
    </tr>
    <tr>
        <td><i>{{localize "cogent.skillBlock.strength"}}</i></td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.athletics" 
        data-value="{{data.skills.strength.athletics.value}}" data-pvalue="{{data.attributes.str.value}}">{{localize "cogent.skills.athletics"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.strength.athletics.value" value="{{data.skills.strength.athletics.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.endurance" 
        data-value="{{data.skills.strength.endurance.value}}" data-pvalue="{{data.attributes.str.value}}">{{localize "cogent.skills.endurance"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.strength.endurance.value" value="{{data.skills.strength.endurance.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.swim" 
        data-value="{{data.skills.strength.swim.value}}" data-pvalue="{{data.attributes.str.value}}">{{localize "cogent.skills.swim"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.strength.swim.value" value="{{data.skills.strength.swim.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.aim" 
        data-value="{{data.skills.strength.aim.value}}" data-pvalue="{{data.attributes.str.value}}">{{localize "cogent.skills.aim"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.strength.aim.value" value="{{data.skills.strength.aim.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td><i>{{localize "cogent.skillBlock.reflex"}}</i></td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.acrobatics" 
        data-value="{{data.skills.reflex.acrobatics.value}}"data-pvalue="{{data.attributes.ref.value}}">{{localize "cogent.skills.acrobatics"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.reflex.acrobatics.value" value="{{data.skills.reflex.acrobatics.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.ride" 
        data-value="{{data.skills.reflex.ride.value}}" data-pvalue="{{data.attributes.ref.value}}">{{localize "cogent.skills.ride"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.reflex.ride.value" value="{{data.skills.reflex.ride.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.sleight" 
        data-value="{{data.skills.reflex.sleight.value}}" data-pvalue="{{data.attributes.ref.value}}">{{localize "cogent.skills.sleight"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.reflex.sleight.value" value="{{data.skills.reflex.sleight.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.stealth" 
        data-value="{{data.skills.reflex.stealth.value}}" data-pvalue="{{data.attributes.ref.value}}">{{localize "cogent.skills.stealth"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.reflex.stealth.value" value="{{data.skills.reflex.stealth.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td colspan="2"><i>{{localize "cogent.skillBlock.intelligence"}}</i></td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.history" 
        data-value="{{data.skills.intelligence.history.value}}" data-pvalue="{{data.attributes.int.value}}">{{localize "cogent.skills.history"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.intelligence.history.value" value="{{data.skills.intelligence.history.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="extCogent.skills.logic" 
        data-value="{{data.skills.intelligence.logic.value}}" data-pvalue="{{data.attributes.int.value}}">{{localize "extCogent.skills.logic"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.intelligence.logic.value" value="{{data.skills.intelligence.logic.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.perception" 
        data-value="{{data.skills.reflex.perception.value}}" data-pvalue="{{data.attributes.int.value}}">{{localize "cogent.skills.perception"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.reflex.perception.value" value="{{data.skills.reflex.perception.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.survival" 
        data-value="{{data.skills.intelligence.survival.value}}" data-pvalue="{{data.attributes.int.value}}">{{localize "cogent.skills.survival"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.intelligence.survival.value" value="{{data.skills.intelligence.survival.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td colspan="2"><i>{{localize "extCogent.skillBlock.character"}}</i></td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.deception" 
        data-value="{{data.skills.character.deception.value}}" data-pvalue="{{data.attributes.cha.value}}">{{localize "cogent.skills.deception"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.character.deception.value" value="{{data.skills.character.deception.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="extCogent.skills.authority" 
        data-value="{{data.skills.character.authority.value}}" data-pvalue="{{data.attributes.cha.value}}">{{localize "extCogent.skills.authority"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.character.authority.value" value="{{data.skills.character.authority.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="cogent.skills.persuasion" 
        data-value="{{data.skills.character.persuasion.value}}" data-pvalue="{{data.attributes.cha.value}}">{{localize "cogent.skills.persuasion"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.character.persuasion.value" value="{{data.skills.character.persuasion.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
    <tr>
        <td class="cogent-sroll rollable" title="Roll skill Check" data-skill="extCogent.skills.willpower" 
        data-value="{{data.skills.character.willpower.value}}" data-pvalue="{{data.attributes.cha.value}}">{{localize "extCogent.skills.willpower"}}:</td>
        <td colspan="3">
            <input type="number" name="data.skills.character.willpower.value" value="{{data.skills.character.willpower.value}}" data-dtype="Number" max="4" min="-1"/>
        </td>
    </tr>
</section>