<section>
    <tr>
        <td>
            {{localize "extCogent.vocation.attributeType"}}
            <select name="data.attribute">
                {{#select data.data.attribute}}
                {{#each config.extvocationAttribute as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td>{{localize "extCogent.vocation.points"}}</td>
        <td>
            <input type="number" name="data.count" value="{{data.data.count}}" data-dtype="Number" max="4" min="1"/>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <i>{{localize "cogent.skillBlock.skills"}}</i>
        </td>
    </tr>
    <tr>
        <td>
            <input name="data.skill1.name" type="text" value="{{data.data.skill1.name}}" placeholder=""/>
        </td>
        <td>
            <select name="data.skill1.attribute">
                {{#select data.data.skill1.attribute}}
                {{#each config.extvsAttribute as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td>
            <input type="number" name="data.skill1.value" value="{{data.data.skill1.value}}" data-dtype="Number" max="{{data.data.count}}" min="0"/>
        </td>
    </tr>
    <tr>
        <td>
            <input name="data.skill2.name" type="text" value="{{data.data.skill2.name}}" placeholder=""/>
        </td>
        <td>
            <select name="data.skill2.attribute">
                {{#select data.data.skill2.attribute}}
                {{#each config.extvsAttribute as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td>
            <input type="number" name="data.skill2.value" value="{{data.data.skill2.value}}" data-dtype="Number" max="{{data.data.count}}" min="0"/>
        </td>
    </tr>
    <tr>
        <td>
            <input name="data.skill3.name" type="text" value="{{data.data.skill3.name}}" placeholder=""/>
        </td>
        <td>
            <select name="data.skill3.attribute">
                {{#select data.data.skill3.attribute}}
                {{#each config.extvsAttribute as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td>
            <input type="number" name="data.skill3.value" value="{{data.data.skill3.value}}" data-dtype="Number" max="{{data.data.count}}" min="0"/>
        </td>
    </tr>
    <tr>
        <td>
            <input name="data.skill4.name" type="text" value="{{data.data.skill4.name}}" placeholder=""/>
        </td>
        <td>
            <select name="data.skill4.attribute">
                {{#select data.data.skill4.attribute}}
                {{#each config.extvsAttribute as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td>
            <input type="number" name="data.skill4.value" value="{{data.skill4.value}}" data-dtype="Number" max="{{data.data.count}}" min="0"/>
        </td>
    </tr>
</section>